a,
a:hover,
a:focus {
    -webkit-box-shadow: none;
    box-shadow: none;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    -o-transition: 0.3s all ease-out !important;
    transition: 0.3s all ease-out !important;
    -webkit-transition: 0.3s all ease-out !important;
}

img {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

button,
input,
select,
textarea,
.custom-file-label {
    -o-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
    -webkit-transition: 0.3s all ease-out;
}

button:focus,
input:focus,
select:focus,
textarea:focus,
.custom-file-input:focus ~ .custom-file-label {
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    outline: none !important;
    border-color: #1f6fef !important;
}

.row.row-5 {
    margin-left: -5px;
    margin-right: -5px;
}

.row.row-5 > [class*=col] {
    padding-left: 5px;
    padding-right: 5px;
}

.row.row-10 {
    margin-left: -10px;
    margin-right: -10px;
}

.row.row-10 > [class*=col] {
    padding-left: 10px;
    padding-right: 10px;
}

.row.row-col-5 {
    margin: 0 -5px;
}

.row.row-col-5 > [class*=col] {
    padding: 5px;
}

.row.row-col-10 {
    margin: 0 -10px;
}

.row.row-col-10 > [class*=col] {
    padding: 10px;
}

.row.row-col-15 {
    margin: 0 -15px;
}

.row.row-col-15 > [class*=col] {
    padding: 15px;
}

.image-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.background-cover {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
